@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: "#D4D7DD";
  --foreground: "#1F2A3C";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:"Open Sans", sans-serif;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.color{
  filter: invert(99%) sepia(56%) saturate(477%) hue-rotate(176deg) brightness(94%) contrast(84%);
}
.tint{
  filter: invert(70%) sepia(15%) saturate(6935%) hue-rotate(144deg) brightness(104%) contrast(106%);
}